    {% extends 'base.html' %}

    {% load static %}
    {% block title %}new_car{% endblock %}
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    {% endblock %}
    {% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active">New Car</li>
  {% endblock %}

    {% block content %}
    <form method="POST">
        {% csrf_token %}
        <label> user {{user.username}} </label><br>
        <label>car number</label>
        <input type = "number" name = "car_number" id = "id_car_number"> 
        <a type ="submit" class="btn btn-primary" role="button">creat</a>
    </form>
    {% endblock %}

   

    {% comment %} {% include 'includes/form1.html' %} {% endcomment %}