{% extends 'base.html' %}

{%block title%}profile{%endblock%}

{% block breadcrumb %}
    <li class="breadcrumb-item active"></li>
{%endblock%}

{% block content %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th><a href="#">car5s</a></th>

    </tr>
    </thead>
    <tbody>
    
    <tr>
        <h1>
            الان احنا ضغطنا كشف سريع الي بدورها رسلت رقم سيارة المستخدم وهنا المفروض نكشف عن مخالفاتها
        </h1>
        <td><a href="#">6{{uu}}</a>
        <small class="text-muted d-block">car number = {{uuu.car}}</small>
        </td>

    </tr>

    </tbody>
</table>

{%endblock%}